

{% extends 'public/base_cpanel.html' %}
<!--Cambiando el title-->
{% block title %}Crud - Python 🐍 | Lista de Usuarios{% endblock %}
<!---->
{% block body %} {% if (resp_monitoreoBD) %}

<div class="card content_consignaciones" style="border-radius: 0px !important">
  <section id="respuestaFiltroMes">
    <h2 class="text-center mt-5 mb-5">
      Monitoreo
      <hr />
    </h2>

    <div class="table-responsive text-nowrap">
      <table class="table table-hover">
        <thead>
          <tr style="background-color: #aba6d8">
            <th>ID</th>
            <th>Nombre Dispositivo</th>
            <th>Hora Fecha</th>
            <th>Descripción</th>
            <th>Alertas</th>
            <th>ID Dispositivo</th>
          </tr>
        </thead>
        <tbody>
          {% for monitoreo in resp_monitoreoBD %}
          <tr>
            <td>{{ monitoreo.id }}</td>
            <td>{{ monitoreo.Nombre_dispositivo }}</td>
            <td>{{ monitoreo.Hora_Fecha }}</td>
            <td>{{ monitoreo.Descripcion }}</td>
            <td>{{ monitoreo.Alertas }}</td>
            <td>{{ monitoreo.ID_Dispositivo }}</td>
          </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>
  </section>
</div>
{% else %}
<div class="container mt-3 mb-3" style="width: 100% !important">
  <div class="row justify-content-md-center mb-2">
    <div class="col-12">
      <h2 class="text-center">No hay registros😭</h2>
    </div>
  </div>
</div>
{% endif %}
<!--Fin del Block-->
{% endblock %}

