{% extends 'public/base_cpanel.html' %}
<!--Cambiando el title-->
{% block title %}Crud - Python 🐍 | Lista de Usuarios{% endblock %}
<!---->
{% block body %} {% if (resp_ventilacionBD) %}

<div class="card content_consignaciones" style="border-radius: 0px !important">
  <section id="respuestaFiltroMes">
    <h2 class="text-center mt-5 mb-5">
        Registro_de_Ventilacion
    </h2>
    <div class="table-responsive text-nowrap">
      <table class="table table-hover">
        <thead>
          <tr style="background-color: #aba6d8">
            <th>Codigo_Ventilacion</th>
            <th>Estado_Ventilacion</th>
            <th>Hora_Fecha_Ventilacion</th>
          </tr>
        </thead>
        <tbody>
          {% for Registro_de_Ventilacion in resp_ventilacionBD %}
          <tr>
            <td>{{Registro_de_Ventilacion.Codigo_Ventilacion}}</td>
            <td>{{Registro_de_Ventilacion.Estado_Ventilacion}}</td>
            <td>{{Registro_de_Ventilacion.Hora_Fecha_Ventilacion}}</td>
            <td>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
</div>
{% else %}
<div class="container mt-3 mb-3" style="width: 100% !important">
  <div class="row justify-content-md-center mb-2">
    <div class="col-12">
      <h2 class="text-center">No hay Registro de Ventilacion 😭</h2>
    </div>
  </div>
</div>
{% endif %}
<!--Fin del Block-->
{% endblock %}

<!--Script Custom-->
{% block customJS %}
<script>
  function eliminarUsuario(id) {
    if (confirm("¿Estas seguro que deseas eliminar el Usuario?")) {
      let url = `/borrar-usuario/${id}`;
      if (url) {
        window.location.href = url;
      }
    }
  }
</script>
{% endblock %}
